#ifndef SRC_SECRETS_HPP_
#define SRC_SECRETS_HPP_

#include <string_view>
#include <cstdint>

namespace wifi {
static constexpr std::string_view SSID = "Test";
static constexpr std::string_view PASSWORD = "Test";
}// namespace wifi

namespace mqtt {
}// namespace mqtt

#endif